<html>
  <head>
    <title>179D Calculator</title>

    <link rel="stylesheet" href="style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Viewport Meta Tag: This enables use of media queries for cross-device layouts -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>    
    <h1>Hello There!</h1>
  </body>
</html>